@keyframes text {
  0%{
    color: #FC7831;
    letter-spacing: 7px;
    margin-bottom: 50px;
  }
  30%{
    letter-spacing: 9px;
    margin-bottom: 50px;
  }
  85%{
    letter-spacing: 4px;
    margin-bottom: 50px;
  }
}